@using EMS.Core
@using EMS.Web.Models.Others
@model PILogIndexDto
@{
    ViewBag.Title = "PI Log List";
}

@section styles{
    <style>
        form label {
            font-weight: 600;
        }

        .btn-sm {
            padding: 3px 5px;
        }
    </style>
}

<div class="main_content">
    <div class="full-wdth padding20">
        @{ Html.RenderPartial("_Notification"); }

        <div class="row margin-bottom20">
            <div class="col-sm-4">
                <h2>PI Log List</h2>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-2 col-sm-6 pull-right">
                        <a class="btn btn-custom btn-block" href="@Url.Action("addedit")" data-target="#modal-add-pilog" data-toggle="modal" data-backdrop="static">Add New</a>
                    </div>
                    <div class="col-md-2 col-sm-6 pull-right">
                        <button type="button" id="btnSearch" class="btn btn-custom btn-block">Search</button>
                    </div>

                    <div class="col-md-3 col-sm-6 pull-right">
                        @Html.DropDownList("Status", Model.PILogStatusList, "All Status", htmlAttributes: new { @class = "form-control" })
                    </div>

                    @if (CurrentUser.IsSPEG)
                    {
                        <div class="col-md-3 col-sm-6 pull-right">
                            @Html.DropDownList("PMId", Model.PMUserList, "All PM", htmlAttributes: new { @class = "form-control" })
                        </div>
                    }

                </div>
            </div>
        </div>

        <table id="grid-logList" class="display postable table table-stats table-condensed"></table>

    </div>
</div>
<div class="divoverlay hide"></div>

@{
    Html.RenderPartial("_Modal", new Modal { ID = "modal-add-pilog", AreaLabeledId = "modal-add-pilog-label", Size = Enums.ModalSize.Medium });
    Html.RenderPartial("_Modal", new Modal { ID = "modal-approve-pilog", AreaLabeledId = "modal-approve-pilog-label", Size = Enums.ModalSize.Large });
}

@section scripts{
    <script src="~/bundles/PILog/index"></script>   
}