@model List<BonusProjectDeveloperDto>

@{ Html.RenderPartial("_ModalHeader", new EMS.Web.Models.Others.ModalHeader { Heading = "Unassigned Virtual Developers" }); }

<div class="modal-body">
    @if (Model.Any())
    {
        int index = 0;
        <table class="table table-stats">
            <thead>
                <tr>
                    <td style="width:10%">S.No.</td>
                    <td style="width:50%">Project</td>
                    <td style="width:40%">Virtual Dev.</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@string.Format("{0} [{1}]", item.ProjectName, item.CRMProjectId)</td>
                        <td>@string.Join(", ", item.VirDevName)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>No project found</h4>
    }
</div>