@using EMS.Web.Models.Others
@using EMS.Core
@{
    ViewBag.Title = "Dotsquares Employee Management 2013";
}
<div class="main_content">
    <div class="full-wdth padding20">
        <div id="MessageDiv"></div>

        <div class="row">
            <div class="col-md-4">
                <h2>Manage Lead Status</h2>
            </div>
            <div class="col-md-8 text-right">
                <a class="btn btn-custom" data-target="#modal-add-LeadStatusModel" data-backdrop="static" data-toggle="modal" href="@Url.Action("add","LeadStatusModel")">Add New</a>
            </div>
        </div>
        <table id="grid-LeadStatusModelList" class="display postable table table-stats table-condensed"></table>
    </div>
</div>
<div class="divoverlay hide"></div>
@Html.Partial("_Modal", new Modal { ID = "modal-add-LeadStatusModel", AreaLabeledId = "modal-add-LeadStatusModel-label", Size = Enums.ModalSize.Large })
@Html.Partial("_Modal", new Modal { ID = "modal-delete-LeadStatusModel", AreaLabeledId = "modal-delete-LeadStatusModel-label", Size = Enums.ModalSize.Medium })
@section scripts{
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/bundles/LeadStatusModel/index"></script>
}
