
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-box dis-block text-center">
    <h1>Thought of the day</h1>
    <h2 class="quote"><i class="fa fa-quote-left"></i>Your smile is your LOGO,your personality is your BUSINESS CARD,How you leave others after an experience with you becomes your TRADEMARK.<i class="fa fa-quote-right"></i></h2>
    <h2 class="quote"><i class="fa fa-quote-left"></i>Have a Nice Day!!!!!!<i class="fa fa-quote-right"></i></h2>
    <h2 class="quote birthday-txt"><i class="fa fa-quote-left"></i>Many Many Happy Return's of the Day Deepak Jangid<i class="fa fa-quote-right"></i></h2>
</div>

