

.custom-multiple-dropdown-wrapper {
    z-index: 1;
}

    .custom-multiple-dropdown-wrapper .ms-drop {
        z-index: 1;
    }

    .custom-multiple-dropdown-wrapper .ms-choice > span.placeholder {
        color: #000;
        left: 5px;
    }

    .custom-multiple-dropdown-wrapper .ms-choice > div {
        top: 5px;
        right: 0;
        width: 21px;
        height: 26px;
    }

    .custom-multiple-dropdown-wrapper .ms-drop input[type="checkbox"] {
        margin: -3px 4px 0 0;
    }

    .custom-multiple-dropdown-wrapper .ms-drop .ms-search {
        padding: 8px;
    }

        .custom-multiple-dropdown-wrapper .ms-drop .ms-search input {
            min-height: 30px;
            padding: 0 20px 0 10px;
            background: #fff url('/multipleselect/multiple-select.png') no-repeat right -20px;
        }

    .custom-multiple-dropdown-wrapper .ms-drop ul > li label {
        white-space: normal;
    }

    .custom-multiple-dropdown-wrapper .ms-choice {
        border: 1px solid #999;
        height: 36px;
        line-height: 36px;
        background-color: #fff;
        border-radius: 0;
        font-size: 14px;
    }


.custom-select2-dropdown-wrapper {
    z-index: 1;
}

.select2-container {
    z-index: 1;
}

.custom-select2-dropdown-wrapper .select2-container .select2-choice {
    height: 30px;
    line-height: 30px;
    border-radius: 0;
}

.custom-select2-dropdown-wrapper .select2-container--default .select2-selection--single {
    border: 1px solid #999;
    border-radius: 0;
    height: 36px;
}

    .custom-select2-dropdown-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #000;
        line-height: 34px;
        font-size: 14px;
    }

    .custom-select2-dropdown-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
        right: 3px;
    }


.select2-container .select2-search--dropdown {
    padding: 8px;
}

.select2-dropdown .select2-search input {
    min-height: 30px;
    padding: 0 20px 0 10px;
    background: #fff url('/multipleselect/multiple-select.png') no-repeat right -20px;
}
