
@*<link href="~/Styles/messages.css" rel="stylesheet" />*@
@*<div id="divMessage" style="display:none;">
    <h4 style="margin-left:10px;" id="lblMessageheading"></h4>
    <p style="margin-left:10px;" ID="lblMessaggedescription"></p>
</div>*@

<div id="divMessage" style="display:none;" alert-dismissable">
        <p style="margin-left:10px;" ID="lblMessaggedescription"></p>@*<i id="closealert" class="fa fa-close pull-right"></i>*@
</div>
 

@*<div id="divMessage" class="panel panel-default" style="display:none">
    <div class="">
    </div><div class="panel-body"><a  class="close">&times </a>
              <h3><label ID="lblMessageheading" /></h3>
        <p><label ID="lblMessaggedescription" /></p>
    </div>
</div>*@
