
<div id="error-ModalMessage" style="display:none;" class="alert alert-danger">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    @*<span id="error-ModalMessage">@modell.Message.ToString()</span>*@
</div>

