@*@model string*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="thought padding-bottom10 text-center padding-top90" style="vertical-align:middle;">
                <div id="thoughts">
                    <h3 id="MainContent_headThought">
                        @ViewBag.message
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>