@using EMS.Core
@model InvestmentIndexDto
@{
    ViewBag.Title = "Investment List";
}
<div class="main_content">
    <div class="full-wdth padding20">
        @{ Html.RenderPartial("_Notification"); }

        <div class="row margin-bottom20">
            <div class="col-sm-4">
                <h2>Investment List</h2>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-2 col-sm-6 pull-right">
                        <button type="button" id="btnSearch" class="btn btn-custom btn-block">Search</button>
                    </div>
                    <div class="col-md-3 col-sm-6 pull-right">
                        @Html.DropDownList("FinancialYear", Model.FinancialYearList, "All Fin. Year", htmlAttributes: new { @class = "form-control" })
                    </div>
                    @if (CurrentUser.DeptId == (int)Enums.ProjectDepartment.AccountDepartment)
                    {
                        <div class="col-md-3 col-sm-6 pull-right">
                            @Html.DropDownList("PMId", Model.PMUserList, "All PM", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-4 col-sm-6 pull-right">
                            @Html.TextBox("TextSearch", null, new { @class = "form-control", @placeholder = "Search by employee name or Att. code" })
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (Model.ShowAddNewOption)
        {
            <a class="btn btn-custom pull-right margin-bottom10" href="@Url.Action("addedit", "investment")">Add New</a>
        }

        <table id="grid-investmentList" class="display postable table table-stats table-condensed"></table>

    </div>
</div>
<div class="divoverlay hide"></div>
@section scripts{
    <script src="~/Scripts/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/CustomJS/Investment/index.js"></script>

}