@using EMS.Core
@model ProjectLessonLearnedIndexDto
@{
    ViewBag.Title = "Lessons Learned";
}
<div class="main_content">
    <div class="full-wdth padding20">
        @{ Html.RenderPartial("_Notification"); }

        <div class="row margin-bottom20">
            <div class="col-sm-4">
                <h2>Lessons Learnt</h2>
            </div>
            <div class="col-sm-8">
                <div class="row">

                    <div class="col-sm-3 col-md-2 pull-right">
                        <a class="btn btn-custom btn-block" href="@Url.Action("addedit", "lessonlearned")">Add New</a>
                    </div>
                    @if (CurrentUser.IsSPEG)
                    {
                        <div class="col-md-2 col-sm-3 pull-right">
                            <button type="button" id="btnSearch" class="btn btn-custom btn-block"><i class="fa fa-search"></i> Search</button>
                        </div>

                        <div class="col-md-3 col-sm-6 pull-right">
                            @Html.DropDownList("PMId", Model.PMUserList, "All PM", htmlAttributes: new { @class = "form-control" })
                        </div>
                    }
                </div>
            </div>
        </div>

        <table id="grid-lessons" class="display postable table table-stats table-condensed"></table>

    </div>
</div>
<div class="divoverlay hide"></div>
@section scripts{
    <script src="~/bundles/LessonLearned/index"></script>
    
}