@model EMS.Dto.ForgotPasswordDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!--Google Font Face Css-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <!--Site Css-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body id="login-bg">
    <form id="form1" action="@Url.Action("ForgotPassword", "Login")" method="post">
        <div class="login-outer-box dis-block clearfix">
            <div class="login-logo dis-block text-center"><img src="~/content/images/logo.png" alt=""></div>
            <div class="login-inner-box dis-block clearfix">
                <div class="login-hd dis-block clearfix"> Forgot Password</div>
                <div class="login_inr dis-block clearfix">
                    <div class="top_error">
                        <span id="lblerrormsg" style="color:Red;">@ViewBag.Invalid</span>
                    </div>
                    <div class="form-group clearfix">
                        <label asp-for="Email"></label>
                        <input type="text" asp-for="Email" class="form-control bg2" placeholder="Email">
                    </div>

                    <div class="btm_btn_box dis-block clearfix">
                        <div class="rem_box margin-top10 check-custom">
                            <a href="@SiteKey.DomainName" class="">Back to login</a>
                        </div>
                        <div class="rt_btn_box">
                            <button type="submit" class="btn btn-custom btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>
    <script src="~/bundles/jqueryval"></script>
    <script src="~/bundles/layoutjs"></script>
    <script src="~/Scripts/CustomJS/forgotPassword.js" asp-append-version="true"></script>
</body>
</html>