@{
    ViewBag.Title = "EMS :: Home";
}
@model EMS.Dto.ShowPasswordDto


<div class="cmxform addedit-virtualdevp">
    @using (Html.BeginForm("ShowSecretUserPassword", "Secret", FormMethod.Post, new { @id = "frm-showpassword" }))
    {
        <div class="bg-white">
            <input type="hidden" asp-for="UserId" />
            <div class="popup-top text-left">
                <h3 style="" class="text-center">User Password</h3>
            </div>
            <div class="popup-container" id="popup-container">
                <p>
                    <div class="row">
                        <div class="col-md-4 row-width">
                            <label>Original Password</label>
                        </div>
                        <div class="col-md-7 row-width">
                            @Html.TextBoxFor(x => x.OriginalPassword, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <input type="button"
                           value="Back"
                           onclick="location.href='@Url.Action("")'" />

                </p>
            </div>

        </div>
    }
</div>
