@model EMS.Dto.ShowPasswordDto
<!DOCTYPE html>


<html>
<head>
    <!--Google Font Face Css-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
    <!--Site Css-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" asp-append-version="true">
</head>
<body id="login-bg">
        <div class="login-outer-box dis-block clearfix">
            <div class="login-logo dis-block text-center"><img src="~/content/images/logo.png" alt=""></div>
            <div class="login-inner-box dis-block clearfix">
                <div class="login-hd dis-block clearfix">Dotsquares Employee Password</div>
                <div class="login_inr dis-block clearfix">
                    <div class="form-group clearfix ">
                        <label>User Id*</label>
                        <input id="UserId" type="text" name="UserId" class="form-control bg1 " placeholder="User Id">
                        </div>
                        <div id="divOrignalPassword" class="form-group" style="display:none">
                            <label>Orignal Password*</label>
                            <input id="inPassword" type="text" name="Password" class="form-control bg1 ">
                        </div>
                        <div class="rt_btn_box">
                            <button id="Mypassword" class="btn btn-custom btn-lg">Submit</button>
                        </div>
                    </div>
            </div>
        </div>
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>
    <script src="~/bundles/jqueryval"></script>
    <script src="~/bundles/layoutjs"></script>
    <script src="@(SiteKey.DomainName)Scripts/CustomJS/login.js" asp-append-version="true"></script>
    <script src="~/Scripts/CustomJS/Secret/secret.js"></script>
</body>

</html>

