
@model EMS.Dto.MomMeetingTaskDto
@using EMS.Web.Models.Others
@using EMS.Core
@using (Html.BeginForm())
{

    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Task" })

    <div class="modal-body ">
        @Html.HiddenFor(Model => Model.Id)
        @Html.HiddenFor(model => model.MomMeetingId)
        <div id="NotificationMessage"></div>

        <p class="del-msg">Are you sure you want to delete this task ?</p>

        @Html.Partial("_ModalFooter", new ModalFooter { })
    </div>
}
