<div class="main_content">
    <div class="full-wdth padding20">       
        <div class="row margin-bottom20">
            <h1 style="text-align: center;font-size: 150px;color: red;">404</h1>
            <h3 style="text-align: center;font-size: 50px;color: orange;">Page not found</h3>
        </div>
    </div>
</div>
