<div class="main_content clearfix">
    <div class="full-wdth clearfix padding20">
        <div class="timesheet-page full-wdth clearfix">
            <h2>Project Time Spent Report  </h2>
            <div class="dis-block clearfix">
                <div class="pull-left box1">
                    <a class="export-btn" data-href="@Url.Action("ExportProjectSheetReportToExcel","TimesheetReport")" href="@Url.Action("ExportProjectSheetReportToExcel","TimesheetReport")" style="display:none"><img src="content/images/excel.png" alt=""> Export To Excel</a>
                </div>
                <div class="pull-right box2">
                    @using (Html.BeginForm())
                    {
                        <div class="wdth2 margin-right10 pull-left">
                            @Html.DropDownList("ddl_User", new SelectList(ViewBag.UserList, "Value", "Text"), "-Users-", new { @class = "form-control", @required = "required" })
                        </div>
                        <button type="button" class="btn btn-custom pull-left" id="btn_search">Search</button>
                    }
                </div>
            </div>
            <div class="table-custom margin-top15 timesheet-table table-responsive clearfix" id="div_Table">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/CustomJS/projectSummaryReport.js"></script>
}
