@using EMS.Web.Models.Others
@using EMS.Core
@section styles{
    <link href="~/Content/css/toggle-switch.css" />
    
}
@{
    ViewBag.Title = "Bucket Model";
}
<div class="main_content">
    <div class="full-wdth padding20">
        <div id="MessageDiv"></div>

        <div class="row">
            <div class="col-md-4">
                <h2>Bucket Model</h2>
            </div>
            <div class="col-md-8 text-right">
                @*<a class="btn btn-custom" data-target="#modal-add-BucketModel" data-backdrop="static" data-toggle="modal" href="@Url.Action("add","BucketModel")">Add New</a>*@
            </div>
        </div>
        <table id="grid-BucketModelList" class="display postable table table-stats table-condensed"></table>
    </div>
</div>
<div class="divoverlay hide"></div>
@Html.Partial("_Modal", new Modal { ID = "modal-add-BucketModel", AreaLabeledId = "modal-add-BucketModel-label", Size = Enums.ModalSize.Medium })
@section scripts{

    <script src="~/Scripts/CustomJS/BucketModel/BucketModel.js"></script>
    
}
