@model EMS.Dto.ChangePasswordDto

<div class="main_content clearfix">
    <div class="full-wdth clearfix padding20">
        <partial name="_Notification" />
        <div class="changePassword-page full-wdth clearfix">
            <h2>Show Password</h2>
            <div class="create-form-outer-box dis-block clearfix">
                <div class="form-wdth1 dis-block clearfix">
                    <div class="grey-bg ems-form dis-block clearfix">
                        @using (Html.BeginForm("ShowPassword", "User", FormMethod.Post, new { @id = "form1" })) {
                            @Html.AntiForgeryToken()
                            <div class="row grey-row">
                                <div class="col-md-2 row-width">
                                    <label asp-for="Password"></label>
                                </div>
                                <div class="col-md-2 row-width">
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2 row-width">
                                    <label asp-for="NewPassword"></label>
                                </div>
                                <div class="col-md-2 row-width">
                                    <input asp-for="NewPassword" type="password" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row grey-row">
                                <div class="col-md-2 row-width">
                                    <label asp-for="ConfirmPassword"></label>

                                </div>
                                <div class="col-md-2 row-width">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-custom pull-right" name="Save">Save</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/bundles/jquery"></script>
<script src="~/bundles/jqueryval"></script>
<script src="@(SiteKey.DomainName)Scripts/CustomJS/ShowPassword.js" asp-append-version="true"></script>

