@model List<TimeSheetSummaryReportDto>

@{await Html.RenderPartialAsync("_ModalHeader", new EMS.Web.Models.Others.ModalHeader { Heading = "Project Worked" }); }

<div class="modal-body">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-stats">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ProjectName</th>
                    <th scope="col">CRM ID</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++index)</td>
                            <td>@item.ProjectName</td>
                            <td>@item.CrmId</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <span> No data found</span>
    }

</div>
