<input type="hidden" name="PageNumber" id="pageid" value="1" />
<div class="sorting_box dis-block clearfix clsPagging">
    <div style="margin:20px 0px 0px 0px;" class="pull-left"> Page <span id="spanCurrentPageNumber">1</span> of <span id="spanTotalPageNumber">1</span> Pages </div>
    <div class="pagination_box text-right">
        <ul>

            <li class="current page-item clsPaggingFirst">
                <a href="javascript:void(0);"
                   data-pageid="1">First</a>
            </li>
            <li class="clsPaggingPrevious page-item ">
                <a href="javascript:void(0);"
                   data-pageid="0"><i class="fa fa-long-arrow-left"></i></a>
            </li>
            <li class="clsPagging1 page-item active"><a href="javascript:void(0);" data-pageid="1">1</a></li>
            <li class="clsPagging2 page-item"><a href="javascript:void(0);" data-pageid="2">2</a></li>
            <li class="clsPagging3 page-item"><a href="javascript:void(0);" data-pageid="3">3</a></li>
            <li class="clsPagging4 page-item"><a href="javascript:void(0);" data-pageid="4">4</a></li>
            <li class="clsPaggingNext page-item"><a href="javascript:void(0);" data-pageid="0"><i class="fa fa-long-arrow-right"></i></a></li>
            <li class="current clsPaggingLast page-item"><a href="javascript:void(0);" data-pageid="0">Last</a></li>
        </ul>
    </div>
</div>
