<div id="myTimeSheet" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md"> 
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Timesheet</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group clearfix">
                            <input type="text" class="form-control clsdatepicker" name="editDate" id="editDate" ng-model="editDate" required />
                            <div ng-show="formPopup.$submitted">
                                <div ng-show="formPopup.editDate.$error.required">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group clearfix">
                            <select name="ddlEditProject" id="ddlEditProject" class="form-control" ng-model="selectedEditProjectId" ng-change="onProjectChangeEdit()" required>
                                <option value="0">Select Project</option>
                                <option data-ng-repeat="p in project" value="{{p.Id}}">{{p.Name}}</option>
                            </select>
                            <div ng-show="submitted && formPopup.ddlEditProject.$invalid">
                                <label ng-show="formPopup.ddlEditProject.$error.required" class="error">Required</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group clearfix">
                            <select name="ddlEditDeveloper" class="form-control" id="ddlEditDeveloper" ng-model="editDeveloperId">
                                <option value="0">Select </option>
                                <option data-ng-repeat="d in develoers" ng-selected="{{editDeveloperId==d.Id}}" value="{{d.Id}}">{{d.Name}}</option>
                            </select>
                            <div ng-show="submitted && formPopup.ddlEditDeveloper.$invalid">
                                <div ng-show="formPopup.ddlEditDeveloper.$error.required">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group clearfix">
                            <input type="text" class="form-control clstimepicker " name="txtEditTime" id="txtUpdateTime" ng-model="editTime" required />
                            <div ng-show="formPopup.$submitted || formPopup.txttime.$touched">
                                <div ng-show="formPopup.txtEditTime.$error.required">Required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group clearfix">
                            <textarea class="form-control msg" placeholder="Description" ng-model="editDescription" required></textarea>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModel">Close</button>
                <button type="submit" class="btn btn-primary1" data-ng-click="UpdateTimeSheet()">Save changes</button>
            </div>
        </div>

    </div>
</div>
